@import '~antd/lib/style/themes/default.less';

html,
body,
:global(#root) {
  height: 100%;
}

:global(.ant-layout) {
  min-height: 100%;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// temp fix for https://github.com/ant-design/ant-design/commit/a1fafb5b727b62cb0be29ce6e9eca8f579d4f8b7
:global {
  #root{
    background-color: #f0f2f5 !important;
  }
  .ant-spin-container {
    overflow: visible !important;
  }

  .ant-layout{
    background-color: #f0f2f5;
  }
  .global-spin {
    width: 100%;
    margin: 40px 0 !important;
  }

  .primary-blue{
    color: #1890ff !important;
  }

  .primary-blue-button{
    background-color: #1890ff !important;
    color: #FFF !important;
    &:hover {
      background-color: #0875d4 !important;
      border-color: #0875d4 !important;
    }
    & > .anticon + span {
      margin-left: 2px !important;
    }
  }
  .ant-pagination-item-active{
    border-color: #1890ff !important;
    a{
      color: #1890ff !important;
    }
  }
  .ant-row .ant-form-item{
    margin-bottom: 0px !important;
  }

  .selected-type {
    color: @primary-color !important;
    border-left: 4px solid @primary-color !important;
  }

  .ant-form-item{
    margin-bottom: 0 !important;
  }

  .section-title{
    border-left: 4px solid #ee5e1f ;
    padding-left: 4px ;
    text-align: left ;
    // display: inline-block;
    float: left;
    // width: 100px;
    line-height: 28px;
    margin-top: 10px;
  }

  .section-title-without-float{
    border-left: 4px solid #ee5e1f ;
    padding-left: 4px ;
    text-align: left ;
    line-height: 28px;
    margin-top: 10px;
  }

  .ant-table-body{
    background-color: #FFF;
  }

  .ant-table-small > .ant-table-content > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-body > table, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table{
    padding: 0 !important;
  }

  .ant-table-small > .ant-table-content > .ant-table-body {
    margin: 0 !important;
  }

  .ant-card-head-title{
    line-height: 32px;
  }

}
